form{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 3vw;
    height: 100%;
}
.tituloForm{
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}

form label input{
    margin-right: 5px;
}

.retornar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.resultado h3{
    color: red;
}

.resultado a{
    border: .2em solid rgb(92, 92, 92);
    border-radius: .2em;
    padding: .6em;
    background-color: rgb(167, 167, 167);
    color: white;
    text-decoration: none;
}

.resultado a:hover{
    border: .2em solid rgb(145, 143, 143);
    background-color: rgb(199, 195, 195);
    text-decoration: none;
}

.styleLogin, .stylecadastrar{
   display: flex;
   justify-content: center;
}

.styleLogin{
    flex-direction: column;
}

.styleLogin form{
    margin: 0 auto;
    flex-direction: column;
}

.styleLogin h2{
    margin-top: 10vw;
    margin-bottom: 3vw;
}

.styleLogin form input{
    align-items: center;
}

.styleLogin form button{
    margin: 0 auto;
    margin-top: 5px;
}

.logado{
    margin-bottom: 1vw;
}

.stylecadastrar{
    flex-direction: column;
}

.stylecadastrar form{
    flex-direction: column;
    align-items: center;
}

.stylecadastrar form input{
    display: flex;
    align-items: center;
}

.resultadoEncontrado{
    color: black !important;
}